<div class="general-info">
        <a href="/" class="logo"></a>
        <a myattr="Your job is to assess the similarity of the colours and pattern in the five images
                presented based on the larger original image above. You are able to rate the image by choosing 1-4 from the four ratingbars shown below,
                the right most bar is the highest rate and lowest is on the left most side. After evaluating the images below you can click the next button and continue to rate
                the next set of images." class="tooltip"></a>

        <div class="user" ng-controller="userController">
            <span class="count">Number of evaluated images: {{model.userScoreCount}}</span>
        </div>
    </div>

    <div class="column-wide">
    <h2 class="similar-header">Original Image</h2>
        <img class="main-image" ng-src="{{model.parentImage.imageUrl}}" alt="">


<div class="similar-images">
    <h2 class="similar-header">Similar Images</h2>
    <ul class="similar">
        <li ng-repeat="image in model.similarImages">
            <div class="image">
                <img ng-src="{{ image.imageUrl }}" alt="{{ image.imageId }}">
            </div>
            <div ng-if="helper.evalMethod == 1" class="scores" ng-class="'current-' + helper.currentScore" ng-controller="scoresController" ng-mouseleave="resetCurrentScore()">
                <span class="label">{{helper.label}}</span>
                <span class="scores">
                    <i ng-repeat="i in [1, 2, 3, 4, 5]" class="star score-{{i}}" ng-mouseover="changeCurrentScore(i)" ng-click="score(i, $event)"></i>
                </span>
            </div>
            <div class="bar-rating" ng-class="'current-' + helper.currentScore"  ng-controller="scoresController" ng-mouseleave="resetCurrentScore()">
                <a ng-repeat="i in [1, 2, 3, 4]" href="#" data-rating-text="Bad" class="bar-score active-{{i}}" ng-mouseover="changeCurrentScore(i)"ng-click="score(i, $event)">
                    <span ng-if="helper.currentScore == i">{{helper.label}}</span>
                </a>
                <!--<div class="current-rating">{{helper.label}}</div>-->
            </div>
        </li>
    </ul>

</div>
    <div class="buttons">
        <a href="#/logout" class="logout-button">Log out</a>
        <a ng-if="isFeaturePresent()" href="#/images?feature={{ config.feature }}" class="next" ng-click="getParentImage()">Next</a>
        <a ng-if="!isFeaturePresent()" href="#/images" class="next" ng-click="getParentImage()">Next</a>
    </div>
    </div>
