<div id= "upleft" class="login column-thin">
    <a href="/" class="logo-full"></a>
    </div>
    <div id="upright" class="text-special">
    <p class="text-mid">Welcome</p>
        <p>Effigy is an application which evaluates the effectiveness of visual search.
            Users who are signed in are able to asses the similarity of photographs of different categories </p>
   <p class="text-mid">Zapraszamy</p>
        <p>Witaj w aplikacji do oceny skuteczności wyszukiwania wizualnego. Zaloguj się, żeby móc oceniać podobieństwo zdjęć.</p>
    </div>
<div id="below" class="form">
    <ul class="tab-group">
        <li class="tab"><a href="#signup" ng-click="onChangeTab($event)">Sign Up</a></li>
        <li class="tab active"><a href="#login" ng-click="onChangeTab($event)">Log In</a></li>
    </ul>
    <div class="tab-content">
        <div id="signup">
            <h1>Sign Up</h1>

            <form method="post" name="form" ng-submit="register()" role="form">

                <div class="field-wrap form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="email">
                        Email (Login)<span class="req">*</span>
                    </label>
                    <input type="email" ng-blur="textProc($event)" ng-focus="textProc($event)" ng-keyup="textProc($event)" name="email" id="email" class="form-control" ng-model="data.email" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>

                <div class="field-wrap form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" ng-blur="textProc($event)" ng-focus="textProc($event)" ng-keyup="textProc($event)" name="password" id="password" class="form-control" ng-model="data.password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>

                <div class="field-wrap form-group" ng-class="{ 'has-error': form.age.$dirty && form.age.$error.required }">
                    <label for="age">
                        Age<span class="req">*</span>
                    </label>
                    <input type="number" ng-blur="textProc($event)" ng-focus="textProc($event)" ng-keyup="textProc($event)" name="age" id="age" class="form-control" ng-model="data.age" required />
                    <span ng-show="form.age.$dirty && form.age.$error.required" class="help-block">Your age is required</span>
                </div>

                <button type="submit" class="button button-block">Sign up</button>

            </form>

        </div>

        <div id="login">
            <h1>Welcome Back!</h1>

            <form name="form" ng-submit="login()" role="form" method="post">

                <div class="field-wrap form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">
                        Username<span class="req">*</span>
                    </label>
                    <input type="text" ng-blur="textProc($event)" ng-focus="textProc($event)" ng-keyup="textProc($event)" name="username" id="username" class="form-control" ng-model="data.username" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>

                <div class="field-wrap form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }" >
                    <label for="password">
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" ng-blur="textProc($event)" ng-focus="textProc($event)" ng-keyup="textProc($event)" name="password" id="password" class="form-control" ng-model="data.password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>

                <button class="button button-block" type="submit" ng-disabled="form.$invalid || lf.dataLoading">Log In</button>
            </form>
        </div>
    </div>
</div>
