
<div class="thank-you">
    <a href="#" class="logo"></a>
    <div class="text-special">
        </br>
            <h3>You have succesfully logged out of  <span style="color: #000000">Effigy</span></h3>
        <h2>Thank You for taking the time to evaluate the images </h2>
        <h2>You evaluated <strong>{{ scoreCount }}</strong> Images</h2>
            <h3>Login again by clicking the logo</h3>
    </div>
</div>