.column-thin {
    width: 510px;
    margin: auto;
}

.column-wide {
    width: 100%;
    margin: auto;
    padding: 10px 40px;
}
.column-wide:before {
    content: ' ';
    display: block;
    border: 2px solid #77787c;
    border-radius: 2px;
    margin-top: 70px;
}

.column-wide:after {
    content: ' ';
    display: block;
    border: 2.5px solid #77787c;
    border-radius: 2px;
    margin-top:100px;
    }

