.green-white-button-panel {
    height: 34px;
    line-height: 34px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    background: #60A006;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: bold;
}

.main-image {
    border: 3px solid #1ab188;
    max-height: 420px;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}

.general-info {
         width: 100%;
         float: left;
         padding: 10px 20px;
        }

.general-info .logo {
          width: 65px;
          height: 65px;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          margin-top: 10px;
          margin-left: 10px;
      }

.similar-images{
     width: 100%;
     margin-right: 50px;
     margin-bottom: 50px;
}

.user {
    float: right;
}

.user .count {
       height: 34px;
       line-height: 34px;
       display: inline-block;
       vertical-align: top;
       margin-right: 10px;
       background: rgba(19, 35, 47, 0.9);
       color: white;
       /* border: 1px solid black; */
       /* border-radius: 5px; */
       padding: 0 10px;
       /* font-weight: bold; */
}

.user .icon {
    background: url(../../img/icon-user.png) top left no-repeat;
    background-size: contain;
    height: 34px;
    width: 34px;
    display: inline-block;
}

.similar-header {
       font-size: 28px;
       font-weight: normal;
       text-align: center;
       }

.similar {
    display: block;
    list-style: none;
    margin: auto;
    width: 70%;
    text-align: center;
}

.similar .image {
    border: 1px solid #1ab188;
    padding: 2px;
}

.similar .image img {
    display: block;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.similar li {
    display: inline-block;
    margin-right: 10px;
}

.next {
          background: rgba(19,35,47,0.9);
          color: white;
          border: 1px solid black;
          font-weight: bold;
          padding: 5px 100px;
}

.logout-button {
           margin-right: 30px;
           background: rgba(19,35,47,0.9);
           color: white;
           border: 1px solid black;
           font-weight: bold;
           padding: 5px 95px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    left: 50%;
    position: absolute;
    z-index: 99;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(myattr);
    left: 20%;
    padding: 5px 15px;
    position: fixed;
    z-index: 98;
    width: 400px;
}

.tooltip{
    display: inline;
    position: relative;
    background: url(../../img/infoo.png);
    background-size: contain;
    height: 34px;
    width: 34px;
    float: right;
    display: inline-block;

}

.buttons {
    margin-top: 20px;
    align-content: center;
    text-align: center;
       margin-top: 20px;
       margin: 0;
       align-content: center;

   }

.footer{
    text-align: center;
    font-size: initial;
    clear: both;
}

