.logo-full {
    background: url(../../img/effigy.JPG) no-repeat;
    background-size: contain;
    height: 150px;
    width: auto/9;
    max-width: 100%;
    display: block;
    resize:both;
}

.logo {
    background: url(../../img/effigy.JPG) top left no-repeat;
    background-size: contain;
    width: 172px;
    height: 48px;
    display: block;
}
