.panel-grey {
    width: 370px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    background: #eee;
    font-size: 13px;
    color: #000;
    padding: 20px 35px;
    margin: 50px auto;
    line-height: 25px;
    overflow: hidden;
}


.panel-grey .form-group {
    padding-bottom: 20px;
}

.panel-grey label {
    display: inline-block;
    width: 70px;
}

.panel-grey input {
    width: 244px;
    height: 25px;
    box-sizing: border-box;
}

.panel-grey button {
    float: right;
    width: 100px;
    box-sizing: border-box;

    height: 34px;
    line-height: 34px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    background: #60A006;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: bold;
}

.panel-green-border {
     margin-top: 50px;
}