/*
    EVALUATION METHOD 1
*/
.rating-b, .bar-rating {
    height: 16px;
    width: 100%;
    margin: 20px auto;
}

.rating-b, .bar-rating a {
    display: inline-block;
    width: 65px;
    height: 20px;
    background-color: #e3e3e3;
    margin: 1px;
    vertical-align: top;
}

.rating-b, .bar-rating a.active,
.rating-b, .bar-rating a.selected {
    background-color: #59a6d6;
}

//.rating-b, .bar-rating, .current-rating {
//    line-height: 1.1;
//    float: left;
//    padding: 0 20px 0 20px;
//    color: #646464;
//    margin: 10px auto;
//}
.bar-rating.current-1 .active-1,
.bar-rating.current-2 .active-1,
.bar-rating.current-3 .active-1,
.bar-rating.current-4 .active-1,
.bar-rating.current-5 .active-1,
.bar-rating.current-2 .active-2,
.bar-rating.current-3 .active-2,
.bar-rating.current-4 .active-2,
.bar-rating.current-5 .active-2,
.bar-rating.current-3 .active-3,
.bar-rating.current-4 .active-3,
.bar-rating.current-5 .active-3,
.bar-rating.current-4 .active-4,
.bar-rating.current-5 .active-4,
.bar-rating.current-5 .active-5 {
    background-color: #1ab188;
    text-decoration: none;
    color: white;
}
/*
    EVALUATION METHOD 2
*/
.scores {
    margin: 25px auto;
    display: block;
    text-align: center;
    position: relative;
}

.scores i {
    height: 30px;
    width: 30px;
    background: url(../../img/star-empty.png) top left no-repeat;
    display: inline-block;
}

.scores i:hover {
    cursor: pointer;
}

.scores .label {
    position: absolute;
    top: -17px;
    left: 50%;
    font-size: 11px;
    white-space: nowrap;
}

.scores.current-1 .label {
    margin-left: -87px;
}

.scores.current-2 .label {
    margin-left: -75px;
}

.scores.current-3 .label {
    margin-left: -44px;
}

.scores.current-4 .label {
    margin-left: 7px;
}

.scores.current-5 .label {
    margin-left: 17px;
}

.scores.current-1 .score-1,
.scores.current-2 .score-1,
.scores.current-3 .score-1,
.scores.current-4 .score-1,
.scores.current-5 .score-1,
.scores.current-2 .score-2,
.scores.current-3 .score-2,
.scores.current-4 .score-2,
.scores.current-5 .score-2,
.scores.current-3 .score-3,
.scores.current-4 .score-3,
.scores.current-5 .score-3,
.scores.current-4 .score-4,
.scores.current-5 .score-4,
.scores.current-5 .score-5 {
    background: url(../../img/star-clicked.png) top left no-repeat;
}


#demo .bar-rating a {
    background: url('../img/star.png');
    width: 24px;
    height: 24px;
    display: block;
    float: left;
}

#demo .bar-rating a:hover,
#demo .bar-rating a.active,
#demo .bar-rating a.selected {
    background-position: 0 24px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio : 1.5),
(min-resolution: 192dpi) {
    #demo .bar-rating a {
        background: url('../img/star@2x.png');
        background-size: 24px 48px;
    }
}


