
body {
    font-family: "Titillium Web", "Arial", sans-serif;
    font-size: 13px;
    color: #333;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-special {
    font-size: 1.5em;
    color: #1ab188;
}

.text-mid {
    margin-left: 180px;
    color: rgba(19,35,47,0.9);
    font-size: 1.6em;
}
