
.thank-you {
    width: 700px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.thank-you p {
    padding: 20px 0 20px;
}

.thank-you .logo {
  height: 160px;
  width: 300px;
  margin-top: 20px;
  margin-left: 250px;
}

.thank-you:before {
    content: ' ';
    display: block;
    border: 2px solid #77787c;
    border-radius: 2px;
    margin-top: 40px;
}

.thank-you:after {
       content: ' ';
       display: block;
       border: 2.5px solid #77787c;
       border-radius: 2px;
       margin-top: 80px;
    }