<!DOCTYPE html>
<html lang="en" ng-app="imagatorApp">
<head>
    <meta charset="UTF-8">
    <title>Content based image retrieval</title>

    <link rel="stylesheet" href="public/dist/css/imagator.min.css">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>

<div ui-view></div>
<div class="footer">
    <footer>&copy; 2017 Borys Komarov and Zahraa al-Taee</footer>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="public/dist/js/libs.js"></script>
<script src="public/dist/js/app.js"></script>
</body>
</html>